apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: rosa-agent
  namespace: aiagentforrosa
  labels:
    app: rosa-agent
spec:
  source:
    type: Binary
    binary: {}
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: rosa-agent:latest
  triggers:
    - type: ConfigChange
    - type: ImageChange
